/* PARTIAL IMPORTS */

@import "colors";
@import "fonts";
@import "buttons";

body {
	font-size: 100%; /* Base font-size of 16px */
    max-width: 100%;
    background: $white;
    overflow-x: hidden;
    position: relative;
}

h1 {
	font-size: 3.75em; /* 60 / 16 */
	line-height: 1em; /* 60 / 60 */
	margin-bottom: .5em; /* 30 / 60 */
	color: $orange;
	font-family: Oswald, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-size: 2.25em; /* 50 / 16 */
	line-height: 1.333333333333333em; /* 67 / 36 */
	margin-bottom: .6666666666666667em; /* 34 / 36 */
	color: $orange;
	font-family: Oswald, sans-serif;
	font-weight: normal;
}

h3 {
	font-size: 1.875em; /* 30 / 16 */
	line-height: 1.25em; /* 30 / 24 */
	margin-bottom: 1em; /* 30 / 24 */
	color: $orange;
	font-family: Oswald, sans-serif;
	font-weight: normal;
}

h4 {
	font-size: 1.25em; /* 20 / 16 */
	line-height: 1.4em; /* 24 / 21 */
	margin-bottom: 1.142857142857143em; /* 24 / 21 */
	color: $black;
	font-family: Oswald, sans-serif;
	font-weight: normal;
}

h5 {
	font-size: 1.125em; /* 18 / 16 */
	line-height: 1.333333333333333em; /* 24 / 18 */
	margin-bottom: 1.333333333333333em; /* 24 / 18 */
	font-family: OpenSans, sans-serif;
	font-weight: normal;
}

h6 {
	font-size: 1em; /* 16 / 16 */
	line-height: 1.5em; /* 24 / 16 */
	margin-bottom: 1.5em; /* 24 / 16 */
	font-family: OpenSans, sans-serif;
	font-weight: light;
}

p {
	font-size: 1em; /* 16 / 16 */
	line-height: 1.5em; /* 24 / 16 */
	margin-bottom: 1.5em; /* 24 / 16 */
	color: $black;
	font-family: OpenSans, sans-serif;
	font-weight: light;
}

a {
    color: $mdGrey;
    font-family: OpenSans, sans-serif;
	font-weight: light;
}

.center {
	text-align: center;
}

.border-top {
    border-top: $black 1px solid;
}

/* BLOCKED BACKGROUNDS */

.greyPill {
    background: $silver;
    margin: 4em 0;
    padding: 0.5em 2em;
    border: $ltGrey 1px solid;
    
    .approval-badge {
        text-align: center;
        margin-top: .5em;
    }
    
    h4 {
        text-align: center;
        font-size: 1.4em;
    }
}

/* BLOCK ELEMENT OVERIDE */

body {
	margin: 0 auto;
    overflow-x: hidden;
}

.body-container-wrapper {
    margin: 0 auto;
}

.fullWidth {
	margin-left: -2em;
    margin-right: -2em;
}

.row-fluid .row-fluid-wrapper .row-fluid .row-fluid-wrapper {
    max-width: 71.25em;
    margin: 0 auto;
}

.bodyWrapper {
    margin: 3em auto;   
}
.bodyWrapper .row-fluid-wrapper .row-fluid {
    max-width: 71.25em;
    margin: 0 auto;
}

/* TOP SEARCH NAV */

.topNav {
	width: 100%;
	background: $silver;
	color: $mdGrey;
	padding: 1em 2em;
}

.search-icon {
    background: url(http://cdn2.hubspot.net/hub/309733/file-299892489-png/assets/search-icon.png) no-repeat center $ltGrey;
}

#hs-search-module {
    
    text-align: left;
    height: 1.8em;
    
    label {
        display: inline-block;
        font-family: Oswald, sans-serif;
        font-weight: light;
        vertical-align: top;
        top: 0.25em;
        position: relative;
        margin-right: 1em;
    }
    .input {
        display: inline-block;
        vertical-align: middle;
        
        .hs-input {
            border: transparent 1px solid;
            border-radius: 4px;
        }
        :focus {
            border: $orange 1px solid;
            box-shadow: none;
            outline: none;
        }
    }
    a.hs-button.primary {
        text-indent: -9999px;
        display: inline-block;
        background: url(http://cdn2.hubspot.net/hub/309733/file-299892489-png/assets/search-icon.png) no-repeat center $ltGrey;
        top: -1.75em;
        position: relative;
        height: 1.54em;
        right: -8.35em;
        cursor: pointer;
        @include border-right-radius(4px);
    }
}

#locateDropdown {
    
    h5 {
        margin: 0;
        text-align: right;
        display: block;
        cursor: pointer;
        
    }
}

.locatePane {
    height: 0px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    -ms-transition:all 0.75s ease;
    transition: all 0.75s ease;

    p {
        color: $mdGrey;
    }
    
    .btn-outline {
        border: $mdGrey 2px solid;
        color: $mdGrey;
    }
    
    .btn-outline:hover {
        background: $mdGrey;
        color: $silver;
    }
}

.locatePane.open {
    margin: 2em 0;
    height: auto;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    -ms-transition:all 0.75s ease;
    transition: all 0.75s ease;
}

/* STICKY HEADER */

/*.header-container-wrapper {
    display: block;
    position: fixed;
    z-index: 9997;
    width: 100%;
    background: $white;
    opacity: 1;
    }
*/

.menu {
    background: $white;
}

.menu.stuck {
    position:fixed;
    top: 0;
    height: 4em;
    background: $white;
    opacity: 0.9;
    border-bottom: $ltGrey 1px solid;
    z-index: 9999;
    
    .headerMenu .cell-wrapper ul {
        margin-top: 0;
        
    }
    
    #hs_cos_wrapper_logo {
        
        top: -1.25em;
        position: relative;
        
        img {
            -webkit-transform: scale(0.65);
            -webkit-transition-duration: 0.5s;
        }
    }
    
    ul li {

    }
}

/* MENU STYLE DECLARATIONS */

#hs_cos_wrapper_top_menu {

	ul {
	
		background: $white;
	
		li  {
			font-family: Oswald, sans-serif;
			font-weight: light;
			
			a {
				color: $mdGrey;
				}
			a:hover {
				color: $orange;
				border-bottom: $orange 1px solid;
				}
			}
		}
}

.header .menu {
    padding: 1em 2em;
    
    .logo {
        vertical-align: middle;
        display: inline-block;
    }
    
    .headerMenu {
        text-align: right;
        
        ul {
            margin-top: 1em;
            
            li {
                
                a {
                    padding: 0px;
                    margin: 10px 20px;
                }
            }
            
            li:last-child {
                
                a {
                    margin-right: 0px;
                }
            }
        }
    }
}

/* HOME PAGE */

.hero {
	
	#heroImage {
		background: url(http://cdn2.hubspot.net/hub/309733/file-299834622-png/hero/OPS-Home-Hero.png) 50% 0 no-repeat fixed;
		background-size: cover;
		height: 30em;
	}
    
    .heroText {
        
        h1 {
            letter-spacing: 0.02em;
            text-shadow: 2px 3px 0px $mdGrey;
        }
        
        p {
            color: $white;
            text-shadow: 1px 2px 0px $mdGrey;
        }
    }
}

.heroCTA {
    background: $silver;
    width: 100%;
    padding: 0.5em 0;
    
    p, h1, h2, h3, h4, a {
        color: $mdGrey;
    }
    
    .btn-orange {
        
        a {
            color: $white;
        }
    }
    
    .ctaDescription {
        display: inline-block;
        vertical-align: middle;
    }
    
}

.testimonialSlider {
	background: $mdGrey;
	padding: 2em 1em;
	
	h2 {
		text-align: center;
		margin-top: 0em;
	}
	
	p {
		color: $white;
	}
}