/* BUTTONS */

.btn-solid {
	padding: 1em 2em;
	display: block;
	font-family: Oswald;
	font-weight: light;
	text-transform: uppercase;
	color: $white;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
    @include box-shadow(0 3px 0 0 $drkOrange);
    border-radius: 4px;
    margin: 1em 0;
    
    a {
        text-decoration: none;
        display: block;
    }

}

.btn-solid.orange {
    background: $orange;
    color: $white;
    
    a {
        color: $white;
    }
}   

.btn-solid:hover {
    opacity: 1;
    transform: scale(0.99);
    -ms-transform: scale(0.99);
    -webkit-transform: scale(0.99);
    
}

.btn-outline {
	padding: 1em 2em;
	display: block;
	font-family: Oswald;
	font-weight: light;
	text-transform: uppercase;
	background: transparent;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
    border-radius: 4px;
    margin: 1em 0;
    
    a {
        text-decoration: none;
        display: block;
    }
}

.btn-outline.white {
    border: $white 2px solid;
    color: $white;
}

.btn-outline.orange {
    border: $orange 2px solid;
    color: $orange;
}

.btn-outline.orange:hover {
    background: $orange;
    color: $white;
}

.btn-outline:hover {
    background: $white;
    border: $white 2px solid;
    transform: scale(0.99);
    -ms-transform: scale(0.99);
    -webkit-transform: scale(0.99);
    color: $mdGrey;
    
}

.btn-outline:hover  a {
    color: $mdGrey;
}

/* BUTTON POSITIONING */

.verticalBtn {
    margin-top: 1.65em;
}
