/* OPS COLOR SCHEME */

$orange: rgb(249,154,32);
$drkOrange: rgb(215,129,22);
$drkOrangeHalf: rgba(215,129,22,0.3);
$grey: rgb(48,48,48);
$mdGrey: rgb(62,62,62);
$ltGrey: rgb(150,150,150);
$black: rgb(0,0,0);
$white: rgb(255,255,255);
$whiteHalf: rgba(255,255,255,0.3);