/* Large desktop */
@media (min-width: 1200px) {  }

@media (min-width: 980px) {
    .mobile-header {
        display: none !important;
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    
    body {   
        font-size: 95%;
    }

    .menu {
        display: none !important;
    }

    .mobile-header {
        display: block;
        
        .mobile-logo {
            vertical-align: middle;
        }
        
        .mobile-nav {
            vertical-align: middle;
            
            #mobile-menu {
                
                a {
                    line-height: 5em;
                }
            }
        }
    }
    
    .testimonialSlider {
        .caption {
            padding-right: 0;
        }
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    
    .menu {
        display: none !important;
    }
    
    .locateDropdown, .widget-type-google_search {
        width: 49.5% !important;
        display: inline-block !important;
    }

    .mobile-header {
        display: block;
        
        .mobile-logo {
            vertical-align: middle;
            width: 49.5% !important;
            display: inline-block !important;
        }
        
        .mobile-nav {
            vertical-align: middle;
            width: 49.5% !important;
            display: inline-block !important;
        }
    }
    
    .half {
        width: 75%;
    }
    
    .quarter {
        width: 50%;
    }
    
    .imageHeading {
        
        text-align: center;
        margin: 1em 0;
        
        .img {
            display: inline-block !important;
            margin: 0 4%;
        }
        
        .heading {
            display: inline-block !important;
            position: relative;
            top: -0.5em;
        }
    }
        
    
    .footer {
        text-align: center;
        
        .footerMenu {
            text-align: center;
        }
    }

}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

    body {
        font-size: 70%;
    }
    
    .hero {
        
        h1 {
            margin-top: 0.5em;
        }
    }
    
    .locateDropdown {
        width: 100% !important;
        display: block !important;
        margin-top: 1em;
        
        .dropdownToggle {
            text-align: center;
        }
    }
    
    .widget-type-google_search {
        display: none !important;
    }
    
    .whatsNew {
        
        .footerSubscribe {
            
            input {
                line-height: 2em;
                padding: 0.5em;
            }
        }
    }

}