.quarter {
    width: 25%;
    margin: 0 auto;
}

.half {
    width: 50%;
    margin: 0 auto;
}

.three-quarters {
    width: 75%;
    margin: 0 auto;
}

.full {
    width: 100%;
    margin: 0 auto;
}